# Build output folders
bin/
build/
obj/
lib/
x64/
x86/
Debug/
Release/

# IDE settings
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.rsuser

# Generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.make
Makefile

# Compiled and intermediate files
*.obj
*.o
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.lib
*.a
*.so
*.dylib
*.log
*.tlog

# OS files
.DS_Store
Thumbs.db

# Exceptions (Do not ignore these)
!assets/**/*.obj
!assets/**/*.mtl
!premake5
!premake5.exe
!premake5.apple
!premake5.lua
!third_party/**/*.h
!third_party/**/*.hpp
!third_party/**/*.c
!third_party/**/*.cpp
!third_party/**/premake5.lua